/* .buttonn:hover{
    background-color: #cbccdb;
    border-radius: 10px;
} */

.headerr{
    display: inline-block;
    position: relative;
}
.headerr:after{
    position: absolute;
    content: '';
    border-bottom: 2px solid #1214fd;
    width: 75px;
    bottom: -11.5px;
    transform: translateX((-50%));
    left: 0%;
    margin-left: 13px;
}

.logo{
    margin-left: 41px;
    /* margin-top: 12px;
    margin-bottom: 12px; */
}
.navbg{
    background-color:#000000;
}
.navbarbtn{
    font-family: avenir;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.16px;
}
.cardnavbtn:active{
    background: #06f;
    border: 1px, solid, #cbccdb;
    border-radius: 15px;
    font-weight: bold;
}
.connectwalletbtn{
    background: #1214fd;
    color: #ffffff;
    font-size: 14px;
    font-family: avenir;
    font-weight: 800;
    border-radius:0px;
    border:none;
}
.boldselected{
    font-weight: bold;
}

@media (max-width: 762px){
    .headerdiv{
        margin-left: 60px;
    }
}


