/* .buttonn:hover{
    background-color: #cbccdb;
    border-radius: 10px;
} */

.logo{
    margin-left: 41px;
    /* margin-top: 12px;
    margin-bottom: 12px; */
}
.navbg{
    background-color:#000000;
}
.navbarbtn{
    font-family: avenir;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0.16px;
}
.cardnavbtn:active{
    background: #06f;
    border: 1px, solid, #cbccdb;
    border-radius: 15px;
    font-weight: bold;
}
.connectwalletbtn{
    background: #1214fd;
    color: #ffffff;
    font-size: 14px;
    font-family: avenir;
    font-weight: 800;
    border:none;
}


